<%= form_with(model: admin_dashboard_user, url: "/admin_dashboard/users/#{admin_dashboard_user.id}", class: "contents") do |form| %>
  <% if admin_dashboard_user.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(admin_dashboard_user.errors.count, "error") %> prohibited this admin_dashboard_user from being saved:</h2>
        <ul>
          <% admin_dashboard_user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="grid grid-cols-6 gap-6">
        <div class="col-span-6 sm:col-span-6">
            <%= form.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
            <%= form.text_field :email, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: "example@company.com", required: true %>
        </div>
        <div class="col-span-6 sm:col-span-6">
            <%= form.label :password, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
            <%= form.password_field :password, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: "*************", required: true %>
        </div>
    </div>
    <div class="items-center p-6 border-t border-gray-200 rounded-b dark:border-gray-700">
      <%= form.submit class: "text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" %>
    </div>
  <% end %>