<%= turbo_stream.update "users_table" do %>
    <%= render "admin_dashboard/partials/table" do %>
        <thead class="bg-gray-100 dark:bg-gray-700">
            <%= render partial: "admin_dashboard/users/partials/table_head" %>
        </thead>
        <tbody id="users" class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
            <%= render @admin_dashboard_users %>
        </tbody>
    <% end %>
<% end %>

<%= turbo_stream.update "pagination" do %>
    <div class="flex items-center mb-4 sm:mb-0">
        <%= render partial: "admin_dashboard/partials/pagination/arrow" %>
        <%= render partial: "admin_dashboard/partials/pagination/info" %>
    </div>
    <div class="flex items-center space-x-3">
        <%= render partial: "admin_dashboard/partials/pagination/button" %>
    </div>
<% end %>