<main>
    <div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 dark:bg-gray-900">
        <a href="<%= home_index_path %>" class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white">
            <%= image_tag "logo.svg", class: "mr-4 h-11", alt: "FlowBite Logo" %>
            <span>Flowbite</span>  
        </a>
        <!-- Card -->
        <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800">
            <div class="w-full p-6 sm:p-8">
                <h2 class="mb-3 text-2xl font-bold text-gray-900 dark:text-white">
                    Forgot your password?
                </h2>
                <p class="text-base font-normal text-gray-500 dark:text-gray-400">
                    Don't fret! Just type in your email and we will send you a code to reset your password!
                </p>
                <p class="notice text-base font-normal text-gray-500 dark:text-gray-400"><%= notice %></p>
                <p class="alert text-base font-normal text-gray-500 dark:text-gray-400"><%= alert %></p>
                <%= render "new_form" %>
            </div>
        </div>
    </div>
</main>