<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <title>Admin Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "flowbite-app", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50 dark:bg-gray-800 w-full">
    <% if current_admin_user.present? %> 
      <%= render "/admin_dashboard/partials/nav" %>
      <div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
        <%= render "/admin_dashboard/partials/sidebar" %>
        <%= yield %>
      </div>
      <%= turbo_frame_tag "modal" %>
    <% else %>
      <%= yield %>
    <% end %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
  </body>
</html>
